
body{
    font-family: 'Helvetica', 'Arial', 'sans-serif' ;
    color: black;
    background-image:url("images/water-color.png") ;
    background-size: cover;
    text-align: center;
    padding: 5px;
}
h1, h2{
    text-align: left;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin:15px 10px;

}

.btn{
    background: white;
    border:none;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px;
   
}

.btn:hover{
    background: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:100px 10px;
    padding: 5px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}
.info, .dp-div{
    margin:10px 50px;
}
#dp{
    width: 250px;
    border-radius: 50%;
    margin: 0px 10px;
}